# ignore user specific 
hyprland.conf
themes/apatheia/scripts/swaypaper
scripts/variables/temp/primary_screen
scripts/extra/storage/dict_searches.txt
store/latest_notif
scripts/variables/temp/background
themes/winter
themes/pokemon
themes/windows
themes/detox
# *.gif
/themes/apatheia/wallpapers
scripts/variables/temp/*
hypr.conf
monitors
keybinds/key-maps.conf









configs/monitor.conf

scripts/extra/storage/dict_searches.csv
