.ddl_kanban {
    background-color: $background-bar;
    border-radius: 12px;
    margin: 10px 15px 15px 15px;
    padding: 4px;
    box-shadow: 0 6px 5px 2px $shadow;
    font-family: FantasqueSansMono Nerd Font;
    font-weight: bold;
}
.ddl_event {
    color: $purple2;
    font-size: 20;
    font-weight: bold;
    font-style: italic;
}
