.ddl_days {
    color: $red;
    font-size: 20;
    font-weight: bold;
}

.ddl_weeks {
    color: $green;
    font-size: 20;
    font-weight: bold;
}

.ddl_left {
    color: $yellow;
    font-size: 20;
}

.ddl_event {
    text-decoration: underline;
    color: $purple2;
    font-size: 20;
    font-weight: bold;
    font-style: italic;
}
