// .revealer {
//     background: blue;
// }
// .bar_class {
//     background: blue;
// }
.refresh-todos {
    font-size: 30;
}
.refresh-todos:hover {
    color: $purple;
    opacity: 1;
}
.todos-reminder {
    font-size: 15;
    font-weight: bold;
    padding: 4px;

}
.todos-number {
    font-size: 18;
    font-weight: bold;
    color: $red;
    font-style: italic;
}
.sundial-lbl {
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 0.2em;
  padding: 0.4em;
  padding-bottom: 0.5em;
  font-family: "Poiret One";
}
