// .revealer {
//     background: blue;
// }
// .bar_class {
//     background: blue;
// }
.refresh-todos {
    font-size: 30;
}
.refresh-todos:hover {
    // color: $purple;
    // opacity: 1;
    border-radius: 10px;
    padding: 2px;
    background: linear-gradient(145deg, $green);
    box-shadow:  20px 20px 60px #bebebe;
}
.todos-reminder {
    font-size: 15;
    font-weight: bold;
    padding: 4px;
}
.todos-number {
    font-size: 18;
    font-weight: bold;
    color: $red;
    font-style: italic;
    text-decoration: underline;
}
.todos-content {
  border-radius: 0.2em;
  padding: 0.4em;
}
// WIP TODO content color add html tag ?
.todos-content:nth-child(1) {background: $yellow}
.todos-content:nth-child(0) {background: $green}

.sundial-lbl {
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 0.2em;
  padding: 0.4em;
  padding-bottom: 0.5em;
  font-family: "Poiret One";
}
